@import "tailwindcss";

@theme{
    --font-htw-regular: "htw-regular";
    --font-htw-bold: "htw-bold";
    --color-primary: #76B900;
    --color-secondary: #575757;
}

@font-face {
    font-family: "htw-regular";
    src: url("./fonts/HTWBerlinOffice-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "htw-bold";
    src: url("./fonts/HTWBerlinOffice-Bold.ttf") format("truetype");
}

body {
    @apply
    font-htw-regular
}

button {
    @apply
    bg-primary
    text-white
    font-htw-bold
    py-2
    px-4
    outline-primary
    outline-5
    rounded
    hover:bg-white
    hover:text-primary
    cursor-pointer
}

a {
    @apply
    font-htw-bold
    text-primary
    cursor-pointer
    hover:underline
}

input {
    @apply
    w-1/5
    bg-white
    font-htw-bold
    py-2
    px-4
    rounded-lg
    border-primary
    border-5
    hover:bg-primary
    hover:text-white
    cursor-pointer
}

.header-btn {
    @apply
    w-15
    h-15
    object-contain
    cursor-pointer
    hover:outline-white
    hover:outline-5
}

.header-navbar-link {
    @apply
    font-htw-regular
    text-xl
    text-white
    cursor-pointer
}

.header-navbar-link-active {
    @apply
    underline
}

.grid-element {
    @apply
    cursor-pointer
    bg-gray-300
    aspect-square
    outline-white
    outline-4
    hover:outline-primary
}

.dashboard {
    @apply
    px-10
    py-5
}

